<div class="modal fade" id="unreserveModal_<%= present.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="no-top-margin">Reservierung zurückziehen: <%= present.title %></h3>
        <h4>Bist Du sicher, dass Du die Reservierung für dieses Geschenk aufheben möchtest?</h4>
        <h4>Das Geschenk wird dann anderen Gästen wieder als verfügbar angezeigt und kann von einem anderen Gast verschenkt werden.</h4>
        <div class="form-actions">
          <button class="btn btn-second-choice" data-dismiss="modal" aria-label="Close">
            Abbrechen
          </button>
          <%= link_to 'Ja, zurückziehen', unreserve_path(present), method: 'post', class: 'btn btn-first-choice'  %>
        </div>
      </div>
    </div>
  </div>
</div>
