<div>
  <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168325/nd2019/heart_1.png', alt: "heart" %>
  <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168391/nd2019/heart_2.png', alt: "heart" %>
  <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168392/nd2019/heart_3.png', alt: "heart" %>
</div>
